body{
	background-image: url("https://i.pinimg.com/originals/70/7b/ff/707bfffc9805aab8ae592185c8e53699.jpg");
    color: white;    
    font-family: 'Tajawal', sans-serif;

}





div{
    
	margin: 10px;
	width: 25%
}
div{
    border: solid 2px; 
    color: lime;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
    text-align: center;
    color: #02dffc;
  
}

h3 {
    font-weight: bold;
    text-align: center;
    color:lime;
}
    h1{
    font-size: 30pt;
    
}
ol
{
	list-style: decimal inside; 
}
ul 
{
    list-style: disc inside;
    text-indent: 20px;
}

#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}


div.header, 
div.instructions
{
    width: 50%;
    color:lime;
    
}

div.instructions{
    color: #f80f63;
}



.numberToMatch,
.winsAndLosses{
    color: #f80f63;
    width: 15%;
    height: 60px; 
    float: left;
	
    
   
}



.userTotal{
    
    width: 15%;
    height: 60px;
    color: lime;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}

